@model Material

<h4>Удаление материала</h4>

<div>
    <h5>Вы уверены, что хотите удалить этот материал: @Model.Title?</h5>
    <dl class="dl-horizontal">
        <dt>Название</dt>
        <dd>@Model.Title</dd>
        <dt style="word-wrap">Описание</dt>
        <dd>@Model.Contents</dd>
        <dt>Ссылка на источник</dt>
        <dd><a href="@Model.FileUrl">Ссылка</a></dd>
    </dl>

    @using (Html.BeginForm("Delete", "Material", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" name="id" value="@Model.MaterialId" />

        <button type="submit" class="btn btn-danger">Удалить</button>
        @Html.ActionLink("Отмена", "Index", "Material", null, new { @class = "btn btn-default" })
    }
</div>
