@model List<Material>

<h1>Materials</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Contents</th>
            <th>File</th>
            <th>FileUrl</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model)
        {
            <tr>
                <td>@material.Title</td>
                <td>@material.Contents</td>
                <td>
                    @if (material.File != null)
                    {
                        <a asp-action="Download" asp-controller="Material" asp-route-id="@material.MaterialId">Download</a>
                    }
                </td>
                <td><a href="@material.FileUrl">Ссылка</a></td>
                <td>
                    <a asp-action="Delete" asp-controller="Material" asp-route-id="@material.MaterialId">Delete</a>
                    <a asp-action="CreateTest" asp-controller="Test" asp-route-materialId="@material.MaterialId">Создать тест</a>
                    <a asp-action="Tests" asp-controller="Test" asp-route-materialId="@material.MaterialId">Тесты</a>

                </td>
            </tr>
        }
    </tbody>
</table>

