@model IEnumerable<LearningCourses.Models.Material>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="~/css/Material.css" />

<h3>Список материалов</h3>

<p>
    <a asp-action="Create">Создать материал</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Файл</th>
            <th>Ссылка</th>
            <th>Тесты</th>
        </tr>
    </thead>
   
 
    <tbody>
        @foreach (var material in Model)
        {

            <tr>
                <td>@(material.Title ?? "")</td>
                <td>
                    <div class="content-container">
                        <div class="content-short">
                            @(material.Contents?.Substring(0, Math.Min(material.Contents.Length, 20)) ?? "")
                        </div>
                        <div class="content-full">
                            @(material.Contents ?? "")
                        </div>
                    </div>
                </td>
                <td>
                    @if (material.File != null)
                    {
                        <a asp-action="Download" asp-controller="Material" asp-route-id="@material.MaterialId">Скачать</a>
                    }
                </td>
                <td>
                    @if (material.FileUrl != null)
                    {
                        <a href="@material.FileUrl">Ссылка</a>
                    }
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Администратор") || User.IsInRole("Преподаватель"))
                    {
                        <div class="dropdown">
                            <a class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Меню
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-action="Delete" asp-controller="Material" asp-route-id="@material.MaterialId">Удалить материал</a>
                                <a class="dropdown-item" asp-action="CreateTest" asp-controller="Test" asp-route-materialId="@material.MaterialId">Создать тест</a>
                                <a class="dropdown-item" asp-action="Tests" asp-controller="Test" asp-route-materialId="@material.MaterialId">Список тестов</a>
                            </div>
                        </div>
                    }
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Студент"))
                    {
                        <a asp-action="Tests" asp-controller="Test" asp-route-materialId="@material.MaterialId">Тесты</a>
                    }
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Гость"))
                    {
                        <span>Нет доступа</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

