@model List<QuestionViewModel>

<h1>Прохождение теста</h1>

<form asp-action="PassTest" method="post">
    @for (int i = 0; i < Model.Count; i++)
    {
        <h3>Вопрос: @(i + 1): @Model[i].Content</h3>
        <div>
            @for (int j = 0; j < Model[i].Answers.Count; j++)
            {
                <div>
                    <input type="hidden" name="questionViewModels[@i].TestId" value="@Model[i].TestId" />
                    <input type="hidden" name="questionViewModels[@i].Answers[@j].IsCorrect" value="@Model[i].Answers[j].IsCorrect" />
                    <input type="checkbox" name="questionViewModels[@i].Answers[@j].IsSelected" value="1" onclick="limitCheckboxSelection(this)" />
                    <label>@Model[i].Answers[j].Content</label>
                    @if (Model[i].Answers[j].IsCorrectAnswerSelected)
                    {
                        <strong>Correct Answer</strong>
                    }
                </div>
            }
        </div>
    }

    <button type="submit" class="btn btn-primary">Отправить</button>
</form>

<script>
    function limitCheckboxSelection(checkbox) {
        var checkboxes = checkbox.parentNode.parentNode.querySelectorAll('input[type="checkbox"]');
        var checkedCount = Array.from(checkboxes).reduce(function (count, currentCheckbox) {
            if (currentCheckbox.checked) {
                count++;
            }
            return count;
        }, 0);

        if (checkedCount > 1) {
            checkbox.checked = false;
        }
    }
</script>
