@model TestResultViewModel

<h1>Test Result</h1>

<h3>Test Title: @Model.TestTitle</h3>
<p>Correct Percentage: @Model.CorrectPercentage %</p>
<p>Correct Answers: @Model.CorrectCount</p>
<p>Incorrect Answers: @Model.IncorrectCount</p>
<p>Grade: @Model.Grade</p>
