@model TestResultViewModel

<h2>Результаты прохождения теста</h2>

<h3>Название теста: @Model.TestTitle</h3>
<p>Процент: @Model.CorrectPercentage % @Model.CorrectPercentage.ToString("0.0")</p>
<p>Правильные ответы: @Model.CorrectCount</p>
<p>Неправильные ответы: @Model.IncorrectCount</p>
<p>Оценка: @Model.Grade </p>

<a class="btn btn-outline-primary" href="/Material">Поддвердить</a>
